<div class="band pushFooter">
  <div class="bandContent mainPage">
    <div class="fullPageFormContainer">
      <div class="formTitle" ng-show="!completed">Reset Password</div>
      <div class="formTitle" ng-show="completed">Password Reset Email Sent</div>

      <form ng-show="!completed" name="resetPasswordForm" role="form" ng-submit="doReset();" novalidate>

        <div class="instructions">
          <span>Enter your username and select Reset Password. An email will
            be sent to the address registered to your account with further
            instructions.</span>
        </div>

        <fieldset class="chunk">
          <div class="textInputContainer" ng-class="{'labelAbove': user.username, 'hasFocus': focus.username, 'hasError': resetPasswordForm.username.$invalid && !resetPasswordForm.username.$pristine}">
            <input id="username" name="username" type="text" autofocus="autofocus" ng-focus="handleOnFocus('username')" ng-blur="handleOnBlur('username')" ng-model="user.username" not-blank/>
            <div class="textInputLabel" ng-click="setFocus('username')">Username</div>
            <span ng-hide="resetPasswordForm.username.$pristine">
              <div ng-show="resetPasswordForm.username.$error.blankValue" class="textInputError">{{valueError.isBlank}}</div>
            </span>
          </div>
        </fieldset>

        <div class="actions">
          <button type="submit" ng-disabled="submitDisabled" >Reset Password</button>
        </div>

      </form>

      <form ng-show="completed">
        <div class="instructions">
          <span>Check your e-mail for instructions on resetting your password.</span>
        </div>
      </form>
    </div>
  </div>
</div>
