<div class="band">
<div class="bandContent mainPage">

<div class="row">
  <div class="col-md-8">
    <span ng-if="!passwords.token">
      <p class="lead">
        Missing token.
      </p>
      <p>
        Please try again.
      </p>
    </span>
    <p class="lead" ng-if="passwords.token && !passwordset">
      Choose a new password.
    </p>
    <p class="lead" ng-if="passwordset">
      Password set successfully.
    </p>
  </div>
</div>
  <div class="row" ng-if="passwords.token">
  <form ng-show="!passwordset" class="col-md-4" name="passwordForm" ng-submit="setPassword();" novalidate>
    <div class="form-group textInputContainer" ng-class="{'hasError' : passwordForm.password1.$invalid && !passwordForm.password1.$pristine }">
      <input name="token" type="hidden" id="token" ng-model="passwords.token" />
      <label for="password1">New password</label>
      <input name="password1" type="password" class="form-control" id="password1" ng-model="passwords.first" valid-password required />
      <span ng-hide="passwordForm.password1.$pristine">
        <p ng-show="passwordForm.password1.$error.validPassword" class="textInputError">{{validPasswordErrorMessage}}</p>
      </span>
    </div>
    <div class="form-group textInputContainer" ng-class="{'hasError' : passwordForm.password2.$invalid && !passwordForm.password2.$pristine }">
      <label for="password2">New password (again)</label>
      <input name="password2" type="password" class="form-control" id="password2" ng-model="passwords.second" password-match="passwords.first" required />
      <p ng-show="passwordForm.password2.$error.passwordmatch && !passwordForm.password2.$pristine" class="textInputError">Passwords must match exactly.</p>
    </div>
    <br />
    <button type="submit" class="btn legacy btn-primary pull-right" ng-disabled="passwordForm.$invalid" value="Set Password">
      Set Password
    </button>
  </form>
  <div ng-show="passwordset" class="col-md-8">
    <p>Your new password has been saved.</p>
    <br />
    <button class="btn btn-primary" ng-click="complete();">Proceed to RStudio Connect</button>
  </div>
</div>

</div>
</div>
