<modal-dialog key="$ctrl.key" on-cancel="$ctrl.onCancel()">
  <div class="purpose">{{$ctrl.purpose}} </div>
  <form name="$ctrl.changePasswordForm" id="changePasswordForm" ng-submit="$ctrl.handleSubmit($event, $ctrl.key)">

    <!-- the main form -->
    <div class="formSection">

      <field label="Current Password" error="{{$ctrl.changePasswordForm.password.$invalid && !$ctrl.changePasswordForm.password.$pristine}}">
        <input name="password" id="password" type="password" ng-model="$ctrl.state.user.password" valid-password />
        <span ng-hide="$ctrl.changePasswordForm.password.$pristine">
          <div ng-show="$ctrl.changePasswordForm.password.$error.validPassword" class="textInputError">{{validPasswordErrorMessage}}</div>
        </span>
      </field>

      <field label="New Password" error="{{$ctrl.changePasswordForm.new_password.$invalid && !$ctrl.changePasswordForm.new_password.$pristine}}">
        <input name="new_password" id="new_password" type="password" ng-model="$ctrl.state.user.new_password" valid-password />
        <span ng-hide="$ctrl.changePasswordForm.new_password.$pristine">
          <div ng-show="$ctrl.changePasswordForm.new_password.$error.validPassword" class="textInputError">{{validPasswordErrorMessage}}</div>
        </span>
      </field>
      <field label="New Password (again)" error="{{$ctrl.changePasswordForm.new_password2.$invalid && !$ctrl.changePasswordForm.new_password2.$pristine}}">
        <input name="new_password2" id="new_password2" type="password" ng-model="$ctrl.state.user.new_password2" password-match="$ctrl.state.user.new_password" />
        <div ng-show="$ctrl.changePasswordForm.new_password2.$error.passwordmatch && !$ctrl.changePasswordForm.new_password2.$pristine" class="textInputError">Passwords must match exactly.</div>
      </field>

    </div>

    <div class="actions">
      <button type="submit">{{$ctrl.button}}</button>
    </div>
  </form>
</modal-dialog>
